.message {
    /* max-width: 700px; */
    margin: 0 auto;
    color: #050505;
    max-width: 100% !important;
}
/* RECEIVED */
.message-group-received {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    margin-bottom: 20px;
}

.message-group-received>div:first-child {
    margin-top: auto;
    margin-right: 5px;
}

.message-group-received>div:last-child {
    flex-grow: 1;
}

.message-group-received>div:first-child>img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

/* .message-received>.message__actions-received {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 67px;
    padding-left: 5px;
} */


.message-received {
    max-width: 100%;
    margin: 2px 0;
    display: flex;
}

/* .message-received:first-child>.message-received-text {
    border-top-left-radius: 20px;
}

.message-received:last-child>.message-received-text {
    border-bottom-left-radius: 20px;
} */

.message-received-text {
    padding: 10px;
    min-height: 20px;
    background: #f0f0f0;
    border-radius: 4px 20px 20px 4px;
}

.message-group-sent {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}

.message-sent {
    max-width: 100%;
    display: flex;
    margin: 2px 0 2px auto;
}

.message-sent-text {
    background: #0a7cff;
    border-radius: 20px 4px 4px 20px;
    min-height: 20px;
    padding: 10px;
    margin-left: auto;
    color: white;
}

.message-sent-audio {
    /* background: #0099ff; */
    /* border-radius: 20px 4px 4px 20px; */
    /* min-height: 20px; */
    /* padding: 10px; */
    margin-left: auto;
}

.message-sent-video {
    /* background: #0099ff; */
    /* border-radius: 20px 4px 4px 20px; */
    /* min-height: 20px; */
    /* padding: 10px; */
    margin-left: auto;
    border-radius: 18px;
    border: 1px solid #0006;
    overflow: hidden;
    max-width: 350px;
}

.message-received-video {
    /* background: #0099ff; */
    /* border-radius: 20px 4px 4px 20px; */
    /* min-height: 20px; */
    /* padding: 10px; */
    border-radius: 18px;
    border: 1px solid #0006;
    overflow: hidden;
    max-width: 350px;
}

.message-sent-video_link {
    margin-left: auto;
}

.chatVideoContainer {
    max-width: 300px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
}

.chatVideoThump {
    background-color: #f0f0f0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.chatVideoThump img {
    width: 100%;
    height: 169px;
    display: block;
}

.chatVideoUrl {
    background-color: #0a7cff;
    padding: 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    text-align: left;
}

.chatVideoUrl a {
    color: white;
}

.chatVideoTitle {
    padding: 10px;
    font-weight: 600;
}

.message-received .chatVideoUrl{
    background-color: #f0f0f0;
}

.message-received .chatVideoUrl a{
    color: #050505;
}
/* .message-sent:first-child>.message-sent-text {
    border-top-right-radius: 20px;
}

.message-sent:last-child>.message-sent-text {
    border-bottom-right-radius: 20px;
} */

.message-sent:first-child>.message-bubble-wrapper>.message-sent-text {
    border-top-right-radius: 20px;
}
.message-sent:last-child>.message-bubble-wrapper>.message-sent-text,
.message-sent:last-child>.message-bubble-wrapper>.message-sent-video_link {
    border-bottom-right-radius: 20px;
}

.message-received:first-child>.message-bubble-wrapper>.message-received-text {
    border-top-left-radius: 20px;
}
.message-received:last-child>.message-bubble-wrapper>.message-received-text,
.message-received:last-child>.message-bubble-wrapper>.message-received-video_link {
    border-bottom-left-radius: 20px;
}

.message-sent-status {
    width: 15px;
    display: flex;
    margin-left: 5px;
    font-size: 15px;
    color: rgba(134, 142, 153, 0.5);
}

.message-sent-status>img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: auto;
}

.message-sent-status>i {
    margin-top: auto;
}

.imageMessage {
    display: block;
    max-height: 200px;
    max-width: 100%;
}

.image-sent {
    display: block;
    border-radius: 18px;
    border: 1px solid #0006;
    overflow: hidden;
    max-width: 100%;
    /* max-height: 200px; */
    margin-left: auto;
}
.image-sent img {
    object-fit:cover;
    display: block;
    max-height: 200px;
    max-width: 100%;
}

.message-sent:hover .message-bubble-wrapper {
    margin-left: 8px;
}

.message-received:hover .message-bubble-wrapper {
    margin-right: 8px;
}

.image-received {
    display: block;
    border-radius: 18px;
    border: 1px solid #0006;
    overflow: hidden;
    max-width: 100%;
}

.image-received img {
    object-fit:cover;
    display: block;
    max-height: 200px;
    max-width: 100%;
}


.image__main {
    max-width: 480px;
}

.image__element {
    max-width: 100%;
    position: relative;
}

.image__aspectRatio {
    position: relative;
}

.image__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image__wrapper img {
    display: block;
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: 100%;
}


/* For sent messages */
.message-sent .message__actions-sent {
    visibility: hidden;
}

/* .message-sent .message__actions-sent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 67px;
    margin-left: auto;
    visibility: visible;
} */
.message-sent .message__actions-sent.with-reaction,
.message-received .message__actions-received.with-reaction {
    padding: 0 5px 18px 0;
}

.message-sent:hover .message__actions-sent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 67px;
    margin-left: auto;
    visibility: visible;
}

.message-received .message__actions-received {
    visibility: hidden;
}

.message-received:hover .message__actions-received {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 67px;
    visibility: visible;
}

.message-bubble-wrapper.with-reaction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-sent .message-bubble-wrapper {
    margin-left: auto;
}

.message__actions-sent > * {
    margin-right: 2px;
    padding: 2px;
}

.message__actions-sent > *:hover {
    cursor: pointer;
    background: #e2e1e1;
    border-radius: 18px;
}

.message__actions-received > * {
    margin-right: 2px;
    padding: 2px;
}

.message__actions-received > *:hover {
    cursor: pointer;
    background: #e2e1e1;
    border-radius: 18px;
}

.reaction__content {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 1px 1px 1px 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);
}

.message-reaction-container {
    /* display: flex; */
    /* align-items: center; */
    background-color: #fff;
    border-radius: 24px;
    padding: 8px 12px 8px 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: block;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: normal;
    position: relative;
    /* width: 288px; */
    width:fit-content;
    /* transform: translate(-10%, -10%); */
}

.message-row-reactions > img {
    padding: 2px 2px;
    margin: 0 2px;
}


/* .message-sent .reaction {
    display: flex;
    margin-left: auto;
} */