@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .pop-notification {
      display: flex;
      position: absolute;
      right: 40%;
      /* border: 1px solid; */
      padding: 20px;
      z-index: 10000000000000000000000;
      background-color: wheat;
      border-radius: 10px;
      top: 20px;
      box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.38);
      gap: 20px;
      animation: fade-in 0.3s ease-in-out;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .left {
      display: flex;
      gap: 30px;
      height: 100%;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
        padding: 3px;

        &:hover {
          // color: themed("bgSoft");
          background: lightgray;
          border-radius: 20px;
        }
      }

      .search-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 200px;
        max-height: 300px;
        height: fit-content;

        .search {
          height: 2.5rem;
          border: 1px solid themed("logo");
          border-radius: 10px;
          padding: 0 15px;
          // box-shadow: 0px 0px 3px #ddd;
          background-color: themed("bg");
          display: flex;
          align-items: center;
          margin-left: 30px;

          input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");

            @include mobile {
              display: none;
            }

            @include tablet {
              width: 200px;
            }

            &:focus {
              outline: none;
              border-color: transparent;
            }
          }

        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      @include mobile {
        display: none;
      }

      .icon {
        margin-right: 0;
        padding: 3px;
        cursor: pointer;
        position: relative;

        .icon-click{
          padding: 3px;
          background: lightgray;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:hover {
          background: lightgray;
          border-radius: 50%;
        }

        &:focus {
          background: lightgray;
          border-radius: 50%;
        }
      }

      .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        max-height: 500px;
        top: 50px;
        z-index: 10000;
        background-color: themed("bg");
        border: 4px double themed("bgSoft");
        border-radius: 20px;
        width: 200px;

        .menu-item {
          border-bottom: 3px solid themed("bgSoft");
          padding: 20px 30px;
          display: flex;
          gap: 20px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 255, 0.368);
            color: white;
          }
        }
      }

      .notifications {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        max-height: 500px;
        width: 400px;
        top: 50px;
        overflow-y: scroll;
        z-index: 10000;
        background-color: themed("bg");
        border: 4px double themed("bgSoft");
        border-radius: 20px;

        .notification {
          border-bottom: 3px solid themed("bgSoft");
          padding: 20px 30px;
          display: flex;
          flex-direction: column;

          .date {
            font-size: 12px;
            font-style: italic;
            padding-top: 5px;
          }
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px outset themed("bgSoft");

        }
      }
    }
  }
}