@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      gap: 30px;
      height: 100%;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");

        &:hover {
          color: themed("bgSoft");
        }
      }

      .search-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 200px;
        max-height: 300px;
        height: fit-content;

        .search {
          height: 2.5rem;
          border: 1px solid themed("logo");
          border-radius: 10px;
          padding: 0 15px;
          // box-shadow: 0px 0px 3px #ddd;
          background-color: themed("bg");
          display: flex;
          align-items: center;
          margin-left: 30px;

          input {
            border: none;
            width: 500px;
            background-color: transparent;
            color: themed("textColor");

            @include mobile {
              display: none;
            }

            @include tablet {
              width: 200px;
            }

            &:focus {
              outline: none;
              border-color: transparent;
            }
          }

        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      @include mobile {
        display: none;
      }

      .notifications {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        max-height: 100px;
        width: 200px;
        top: 50px;
        overflow-y: scroll;
        z-index: 10000;
        background-color: themed("bg");
        padding: 20px;
        border: 4px double themed("bgSoft");
        border-radius: 20px;
        gap: 10px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px outset themed("bgSoft");

        }
      }
    }
  }
}