.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu {
    flex: 2.5;
    padding: 0;
    flex-grow: 1.7;
    margin: 0;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBox {
    flex: 6.5;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 0px 2px lightgray;
    margin: 10px;
    padding: 0;
}

.chatBoxTop {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chatMessageInput {
    flex-shrink: 0;
    width: 80%;
    height: 90px;
    padding: 10px;
    border-radius: 18px;
    background-color: #f3f4f5;
    resize: none;
    overflow: hidden;
    min-height: 20px;
    max-height: 100px;
    height: 20px;
    border: none;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper {
    border-right: 1px #e6e6e6 solid;
    position: relative;
    margin: 0;
}

.noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
}

.headerChat {
    display: flex;
    box-shadow: 0 1px 1px 1px lightgray;
    padding: 10px;
    justify-content: space-between;
    position: relative;

    .info {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 2px;

        span {
            color: black;
        }

        &:hover {
            background: lightgray;
            border-radius: 10px;
        }
    }

    .extension {
        display: flex;
        align-items: center;
        color: black;

        .icon {
            cursor: pointer;
            border-radius: 50%;
            color: blue;
            background: white;
            padding: 7px;
        }

        .icon:hover {
            // padding: 7px;
            border-radius: 50%;
            background: lightgray;
        }

    }
}

.current-chat-option-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 6px;
    top: 46px;
    z-index: 1;
    background: white;
    color: black;
    box-shadow: 0px 0px 3px 1px lightgray;
    border-radius: 10px;
    cursor: pointer;

    .current-chat-option {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 15px;

        .icon {
            margin-right: 15px;
            font-size: 20px;
        }
    }

    .current-chat-option:hover {
        background: lightgray;
    }
}

.search-conversation {
    padding: 5px;
    display: flex;
    box-shadow: 0 0 0px 1px lightgray;
    border-radius: 40px;
    /* padding: 0 0; */
    align-items: center;
    width: 100%;
    height: 35px;

    .icon-search {
        font-size: 20px;
        padding: 10px;
    }

    input {
        border: none;

        &:focus {
            outline: none;
            background-color: transparent;
        }
    }

    &:hover {
        color: black;
    }
}

.icon-back {
    font-size: 30px;
    cursor: pointer;

    &:hover {
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .chatMenu {
        flex: 1;
    }

    .chatMenuInput {
        display: none;
    }

    .chatBox {
        flex: 10;
    }

    .chatOnline {
        flex: 1px;
    }
}

.message {
    margin: 0 auto;
    color: #050505;
    max-width: 100% !important;
}

.chatSubmitButtonIcon {
    cursor: pointer;
    padding: 8px;
    margin: 0 6px;
}

.chatSubmitButtonIcon:hover {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.chatSubmitButtonIcon svg {
    display: block;
    margin: auto;
}

.inputFile {
    position: relative;
    display: inline-block;
}

.hiddenInput {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* opacity: 0; */
    cursor: pointer;
}

.chat-members {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.358);
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
    align-items: center;

    .wrapper {
        display: flex;
        background: white;
        width: fit-content;
        height: fit-content;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px 1px;
        flex-direction: column;

        .head {
            display: flex;
            color: black;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
            padding: 10px;
            box-shadow: 0 1px 0 0 lightgray;
            margin-bottom: 5px;

            p {
                margin: 0;
            }
        }
    }
}