@import "../../style.scss";

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
            }

            .date {
              font-size: 12px;
            }
          }
        }

        button {
          position: relative;
          top: 30px;
          right: 0;
          border: none;
          background-color: #f0544f;
          padding: 5px;
          cursor: pointer;
          color: white;
        }
      }

      .content {
        margin-top: 20px;

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }

      .sharePost {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        max-height: 1000px;
        object-fit: cover;
        margin-top: 0px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;

        .userShare {
          display: flex;
          align-items: center;
          justify-content: space-between;
          align-self: center;

          button {
            position: relative;
            top: 30px;
            right: 0;
            border: none;
            background-color: #f0544f;
            padding: 5px;
            cursor: pointer;
            color: white;
          }
        }

        .contentShare {
          text-align: left;

          img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
          }
        }

        .info {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            font-size: 14px;
          }
        }

        .userInfoShare {
          display: flex;
          gap: 10px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .detailShare {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .nameShare {
              font-weight: 500;
            }

            .dateShare {
              font-size: 12px;
            }
          }
        }
      }


    }
  }

  .post-menu {
    display: flex;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    top: 30px;
    right: 0;
  }

  .confirm-delete {
    display: flex;
    position: fixed;
    top: 40%;
    left: 40%;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.38);

    .button-confirm {
      display: flex;
      gap: 50px;

      button {
        border: none;
        padding: 15px;
        cursor: pointer;
        color: white;
        background-color: #5271ff;
        border-radius: 10px;
      }
    }
  }

  .image-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.852);
    padding: 20px;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: 95%;
    }

    button {
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(240, 248, 255, 0);
    }
  }
}